absl-py==2.1.0
aiobotocore==2.12.0
aiohappyeyeballs
aiohttp==3.9.3
aioitertools
aiosignal
alabaster==0.7.13
anaconda-anon-usage
anaconda-catalogs
anaconda-client==1.11.2
anaconda-cloud-auth
anaconda-navigator==2.5.2
anaconda-project==0.11.1
anyio
appdirs==1.4.4
applaunchservices
appnope==0.1.3
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
asyncssh
atomicwrites==1.4.0
attrs
Automat
autopep8
babel
backports.functools-lru-cache
backports.tarfile
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools==5.5.2
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography==43.0.3
cssselect
cycler
cytoolz
dask
dask-expr
datasets
datashader
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
distributed
distro
dm-tree==0.1.8
docstring-to-markdown
docutils
et-xmlfile==1.1.0
evalidate
executing
fastjsonschema
filelock
flake8
Flask
flatbuffers==24.3.7
fonttools
frozendict
frozenlist
fsspec
future
gast==0.5.4
gensim
gmpy2
google-api-core==2.24.2
google-api-python-client==2.168.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
googleapis-common-protos==1.70.0
greenlet
grpcio==1.62.1
gspread==6.2.0
h11
h5py
HeapDict
holoviews
httpcore
httplib2==0.22.0
httpx
huggingface_hub
hvplot
hyperlink
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
keras==3.0.5
keyring
kiwisolver
lazy_loader
libarchive-c
libclang==16.0.6
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
ml-dtypes==0.3.2
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
mypy-extensions
namex==0.0.7
narwhals
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl
opt-einsum==3.3.0
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pep8==1.7.1
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus_client
prompt-toolkit
propcache
Protego
proto-plus==1.26.1
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
PyDispatcher==2.0.5
pydocstyle
PyDrive2==1.21.3
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL==24.2.1
pyparsing
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-oauthlib==2.0.0
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich==13.7.1
roman-numerals-py
rope
rpds-py
rsa==4.9.1
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3fs
safetensors
scikit-image
scikit-learn==1.4.1.post1
scipy
Scrapy
seaborn
Send2Trash
service-identity
sip
six
sklearn-compat
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
superqt
sympy
tables
tabulate
tblib
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado
text-unidecode
textdistance
thop==0.1.1.post2209072238
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
tomli
tomlkit
toolz
torch==2.2.1
torchvision==0.17.1
tornado
tqdm
traitlets
transformers
truststore
Twisted
typing_extensions==4.10.0
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
uritemplate==4.1.1
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard